body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.center-image {
    text-align: center;
}

.container {
    overflow-y: scroll;
}

.container-section {
    display: inline;
}

/* START -- Intro Section CSS 작업 시작 -- */

.container-section-intro {
    height: 1080px;
    width: 1920px;
}


.container-section-intro-main {
    position: relative;
    z-index: 100;
    display: flex;
    padding-top: 100px;
}

.container-section-intro-main-left {
    margin-left: 250px;
    margin-top: 160px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: white;
}

.container-section-intro-main-right {
    margin-left: 250px;
    margin-top: 100px;
}

.container-section-intro-main-buttons {
    margin-top: 5px;
    display: flex;
}

.my-comment-large {
    font-size: 80px;
}

#my-name {
    background: -webkit-linear-gradient(left, #DCB5FF, #B1C9F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#my-comment-small {
    font-size: 50px;
}


#intro-bg-1,
#intro-bg-2,
#intro-bg-3 {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#intro-bg-1 {
    z-index: 1;
}

#intro-bg-2 {
    z-index: 2;
}

#intro-bg-3 {
    z-index: 3;
}

#download-resume {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    height: 60px;
    transition: all .5s ease-out;
    width: 160px;
    font-size: 17px;
    margin-right: 15px;
}

#move-to-github {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 60px;
    margin-right: 15px;
    transition: all .5s ease-out;
}

#move-to-insta {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 60px;
    margin-right: 15px;
    transition: all .5s ease-out;
}

#download-resume:hover,
#move-to-github:hover,
#move-to-insta:hover {
    transition: 0.3s;
    transform: scale(1.1)
}


#intro-memoji {
    width: 140%;
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.8));
}

/* END -- Intro Section CSS 작업 끝 -- */


/* START -- About Section CSS 작업 시작 -- */

.container-section-about {
    height: 2160px;
    width: 1920px;
    background-color: #F9F9F9;
    position: relative;
}

.container-section-about-main-texts {
    position: relative;
    margin-bottom: 30px;
    padding-top: 35px;
    margin-left: 55px;
}

#about-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: #1A1A1A;
    font-weight: bold;
}

.about-text-description {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #7E7E7E;
}

.container-sesction-about-main-slideshow {
    height: 806px;
    margin-left: 55px;
}

.about-slideshow-images {
    position: absolute;
    z-index: 1;
}

.about-slideshow-arrows {
    height: 806px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#arrow-left {
    margin-left: 35px;
    margin-right: 1280px;
}

.about-slideshow-dots {
    position: relative;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.container-section-about-main-info {
    padding-top: 100px;
    width: 1208px;
    margin: auto;
    display: block;
}

.container-section-about-main-info-texts {
    margin-bottom: 20px;
}

#about-text-mini {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1A1A1A;
}

#about-text-aboutme {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 50px;
    color: #1A1A1A;
}

#about-text-small-description {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 25px;
    color: #6E6E6E;
}

.container-section-about-main-info-blocks {
    position: relative;
    margin-top: 80px;
    padding-top: 0px;
    display: inline;
}

.about-block-square {
    height: 379px;
    width: 379px;
    background-color: #E8E8E8;
    margin: auto;
    float: left;
}

.about-block-rectangle {
    height: 379px;
    width: 804px;
    background-color: #F0F0F0;
    margin: auto;
    float: right;
}

.about-block-rectangle2 {
    margin-top: 23px;
    height: 277px;
    width: 100%;
    background-color: #DDDDDD;
    position: static;
    clear: both;
    z-index: 1;
}

.about-on-top {
    width: 1200px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.about-on-back {
    width: 1200px;
    position: absolute;
    text-align: center;
    z-index: 0;
}

#about-memoji {
    float: left;
    margin-top: -20px;
    margin-left: -10px;
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.5));
}

#about-description-rectangle {
    width: 95%;
    margin: auto;
    padding: 40px 0;
    line-height: 50px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #000000;
}

#about-description-rectangle2 {
    margin: auto;
    margin-top: 23px;
    width: 95%;
    padding: 40px 0;
    line-height: 50px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #000000;
}

/* END -- About Section CSS 작업 끝 -- */


/* START -- Skills & Strength Section CSS 작업 시작 -- */

.container-section-skills {
    height: 1080px;
    width: 1920px;
    background-color: #131313;
}

.container-section-skills-main {
    margin: 0 100px;
    display: inline-block;
    align-items: center;
}

.container-section-skills-main-texts {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 410px;
    padding-right: 410px;
}

#skills-memoji-laptop {
    width: 15%;
    float: left;
}

#skills-text-title {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: #F8F8F8;
    padding-top: 40px;
}

#skills-text-description {
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #727272;
}

.container-section-skills-main-visualize {
    height: 800px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.badge-container {
    position: relative;
    width: 1200px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    
    
}

.badge-container .badge {
    position: relative;
    width: 250px;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0px 35px rgba(0, 0, 0, 1);
    margin-bottom: 50px
}

.badge-container .badge:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 1);
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.badge-svg {
    position: relative;
    width: 160px;
    height: 160px;
    z-index: 1;
    overflow: visible;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: #141414;
    stroke: #141414;
    stroke-width: 18;
    stroke-linecap: round;
    overflow: visible;
    transform: rotate(-90deg);
    
}

svg circle:nth-child(2) {
    stroke-dasharray: 566;
    stroke-dashoffset: 566;
    
}

.badge:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: 56.6;
    stroke: #EF652A;
    filter: drop-shadow(0 0 6px #EF652A);
    animation: ninety-percent 3s ease-out;
}

#skills-html {
    margin-top: 10px;
    width: 55%;
    z-index: 2;
}

.badge:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: 226.4;
    stroke: #1C88C7;
    filter: drop-shadow(0 0 6px #1C88C7);
    animation: sixty-percent 3s ease-out;
}

#skills-css {
    margin-top: 10px;
    width: 55%;
    z-index: 2;
}

.badge:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: 283;
    stroke: #F7DF1E;
    filter: drop-shadow(0 0 6px #F7DF1E);
    animation: fifty-percent 3s ease-out;
}

#skills-javascript {
    width: 55%;
    z-index: 2;
}

.badge:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: 169.8;
    stroke: #61DAFB;
    filter: drop-shadow(0 0 6px #61DAFB);
    animation: seventy-percent 3s ease-out;
}

#skills-react {
    width: 55%;
    z-index: 2;
}

.badge:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: 56.6;
    stroke: #CD6799;
    filter: drop-shadow(0 0 6px #CD6799);   
    animation: ninety-percent 3s ease-out;
}

#skills-sass {
    width: 65%;
    z-index: 2;
}

.badge:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: 0;
    stroke: #004482;
    filter: drop-shadow(0 0 6px #004482);
    animation: hundred-percent 3s ease-out;
}

#skills-cpp {
    width: 60%;
    z-index: 2;
}

.badge:nth-child(7) svg circle:nth-child(2) {
    stroke-dashoffset: 339.6;
    stroke: #EA2D2E;
    filter: drop-shadow(0 0 6px #EA2D2E);
    animation: fourty-percent 3s ease-out;
}

#skills-java {
    width: 50%;
    z-index: 2;
}

.badge:nth-child(8) svg circle:nth-child(2) {
    stroke-dashoffset: 113.2;
    stroke: #FFCF3E;
    filter: drop-shadow(0 0 6px #FFCF3E);
    animation: eighty-percent 3s ease-out;
    
}

#skills-python {
    width: 55%;
    z-index: 2;
}

@keyframes hundred-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes ninety-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 56.6;
    }
}
  
@keyframes eighty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 113.2;
    }
}

@keyframes seventy-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 169.8;
    }
}
  
@keyframes sixty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 226.4;
    }
}

@keyframes fifty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 283;
    }
}
  
@keyframes fourty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 339.6;
    }
}

@keyframes thirty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 396.2;
    }
}

@keyframes twenty-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 452.8;
    }
}

@keyframes ten-percent {
    from {
      stroke-dashoffset: 566;
    }
    to {
      stroke-dashoffset: 509.4;
    }
}
  
/* END -- Skills & Strength Section CSS 작업 끝 -- */


/* START -- PROJECT Section CSS 작업 시작 -- */

.container-section-projects {
    height: 3100px;
    width: 1920px;
    background-color: #F6F6F6;
}

#projects-text-mini {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1A1A1A;
}

#projects-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
    color: #1A1A1A;
}

#projects-text-description {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 25px;
    color: #6E6E6E;
}

.container-section-projects-main {
    padding-top: 160px;
    padding-left:331px;
    padding-right:331px;
}

.container-section-projects-main-samples {
    padding-top: 100px;
    display:block;
}

.container-section-projects-main-samples-one {
    text-align: center;
}

.container-section-projects-main-samples-two {
    clear: both;
    float: left; 
}

.container-section-projects-main-samples-three {
    margin-top: 60px;
    float: right; 
}

.container-section-projects-main-samples-four {
    margin-top: 50px;
    clear: both;
    float: left; 
}

.container-section-projects-main-samples-five {
    margin-top: 60px;
    float: right; 
}

.container-section-projects-main-samples-caption-one {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.container-section-projects-main-samples-caption-two {
    float: left;
    margin-left: 50px;
}

.container-section-projects-main-samples-caption-three {
    clear: both;
    float: right;
    margin-top: 15px;
    width: 47.5%;
}

.container-section-projects-main-samples-caption-four {
    margin-top: 50px;
    float: left;
    margin-left: 50px;
}

.container-section-projects-main-samples-caption-five {
    margin-top: 15px;
    clear: both;
    float: right;
    width: 47.5%;
}

.sample-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 25px;
    font-weight: bold;
    color: #171717;
}

.sample-text-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #6E6E6E;
    display: block;
    width: 270px;
    margin-top: 5px;
}